*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   // border: 1px dashed hotpink;
    scroll-behavior: smooth;
}

body{
    background-color:#F3F9F9;
}


@import 'partials/cores';
@import 'partials/tipografia';
@import 'partials/layout';


