@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;800&family=Open+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F3F9F9;
}

.sub-menu {
  margin: 30px 0;
}

.menu {
  background-color: #D8B630;
  padding: 10px;
}

.menu .navbar .navbar-nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu .navbar .navbar-nav .nav-item {
  border-left: 1px solid #FFC400;
  padding: 0 20px;
}

.menu .navbar .navbar-nav .nav-item:hover {
  background-color: #FFC400;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-left: none;
}

.menu .navbar .navbar-nav .nav-item a {
  color: #fafafa;
  font-weight: bold;
  line-height: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-2 {
  background-color: #278B97;
  padding: 10px;
}

.menu-2 .navbar .navbar-nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu-2 .navbar .navbar-nav .nav-item {
  border-left: 1px solid #79B6BD;
  padding: 0 20px;
}

.menu-2 .navbar .navbar-nav .nav-item:hover {
  background-color: #1d7781;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-left: none;
}

.menu-2 .navbar .navbar-nav .nav-item a {
  color: #fafafa;
  font-weight: bold;
  line-height: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.topo h1 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #D8B630;
}

.topo p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
}

.topo p::-moz-selection {
  background-color: #278B97;
  color: #fff;
}

.topo p::selection {
  background-color: #278B97;
  color: #fff;
}

.topo p a {
  color: #4f5e66;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .topo h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .topo p {
    font-size: 16px;
    line-height: 24px;
  }
}

.ancoras {
  text-align: center;
}

.ancoras a {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #D8B630;
  font-size: 20px;
  line-height: 24px;
  color: #278B97;
}

.topo-2 h1 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #278B97;
}

.topo-2 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
}

.topo-2 p::-moz-selection {
  background-color: #278B97;
  color: #fff;
}

.topo-2 p::selection {
  background-color: #278B97;
  color: #fff;
}

.topo-2 p a {
  color: #4f5e66;
  font-weight: bold;
}

.busca h2 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #D8B630;
  font-size: 36px;
  line-height: 46px;
  margin: 40px 0;
  color: #34434b;
}

.busca .form-control {
  width: 480px;
  height: calc(3rem + 1rem + 4px);
  border: none;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 12px 24px rgba(48, 42, 42, 0.05), 0px 3.61765px 7.2353px rgba(48, 42, 42, 0.0325794), 0px 1.50259px 3.00517px rgba(48, 42, 42, 0.025), 0px 0.54346px 1.08691px rgba(48, 42, 42, 0.0174206);
          box-shadow: 0px 12px 24px rgba(48, 42, 42, 0.05), 0px 3.61765px 7.2353px rgba(48, 42, 42, 0.0325794), 0px 1.50259px 3.00517px rgba(48, 42, 42, 0.025), 0px 0.54346px 1.08691px rgba(48, 42, 42, 0.0174206);
}

.busca .form-control::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  color: #ccc;
}

.busca .form-control:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  color: #ccc;
}

.busca .form-control::-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  color: #ccc;
}

.busca .form-control::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  color: #ccc;
}

@media screen and (max-width: 992px) {
  .busca h1 {
    font-size: 36px;
    line-height: 46px;
    background-color: hotpink;
  }
  .busca p {
    font-size: 16px;
    line-height: 24px;
  }
}

.perguntas h3 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #D8B630;
  font-size: 22px;
  line-height: 28px;
}

.perguntas h4 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #D8B630;
  font-size: 22px;
  line-height: 24px;
  color: #4f5e66;
}

.perguntas p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
}

.perguntas a {
  color: #D8B630;
  font-weight: bold;
}

.perguntas li {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  font-size: 16px;
  list-style: none;
  margin-bottom: 10px;
}

.perguntas li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFC400;
  margin: 2px 6px;
  border-radius: 100px;
  margin-top: -3px;
}

.perguntas span {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
  font-size: 14px;
  font-style: italic;
}

.perguntas .card {
  background-color: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.perguntas .card .card-header {
  border: none;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.perguntas .card strong {
  font-weight: 700;
}

.perguntas .card img {
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .perguntas h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .perguntas p {
    font-size: 16px;
    line-height: 24px;
  }
}

.perguntas-2 h3 {
  margin: 20px 0;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  color: #278B97;
  font-size: 22px;
  line-height: 28px;
}

.perguntas-2 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  color: #4F5E66;
}

.perguntas-2 .card {
  background-color: none;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.perguntas-2 .card .card-header {
  border: none;
  background: none;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.perguntas-2 .card strong {
  font-weight: 700;
}

.perguntas-2 .card img {
  border-radius: 10px;
}

#footer {
  margin-bottom: 60px;
  background: #D8B630;
  padding: 15px 20px;
  border-radius: 40px;
}

#footer p {
  color: #fff;
  text-align: right;
  margin: 0;
  padding: 0;
}

#footer p a {
  color: #fff;
  font-weight: bold;
}

#footer p a:hover {
  color: #FFC400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

#footer-2 {
  margin-bottom: 60px;
  background: #278B97;
  padding: 15px 20px;
  border-radius: 40px;
}

#footer-2 p {
  color: #fff;
  text-align: right;
  margin: 0;
  padding: 0;
}

#footer-2 p a {
  color: #fff;
  font-weight: bold;
}

#footer-2 p a:hover {
  color: #278B97;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

@media screen and (max-width: 992px) {
  #footer {
    text-align: center;
    padding: 10px 10px;
    border-radius: 6px;
    width: 90%;
  }
  #footer p {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .busca .geral-pesquisa_input .form-control {
    width: 98%;
  }
}

@media screen and (max-width: 992px) {
  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #FFC400;
    border-left: none !important;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */